img {
  width: 150px;
  margin: 10px auto;
}

.title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.card:nth-child(1),
.mLeft {
  margin-left: 6.7rem !important;
}
