<app-navbar></app-navbar>
<div class="continer mt-4">
  <ng-container *ngIf="!product">
    <div
      style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 500px;">
      <p class="text-center text text-dark display-4">Fetching Product</p>
      <div>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="row" *ngIf="product">
    <div class="col-4 p-3" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <img [src]="product['imgUrl']" alt="" style="width: 100%;" />
    </div>
    <div class="col-8" style="display: flex; flex-direction: column; justify-content: center;align-items: center;">
      <div class="col-lg-6 col-sm-12 col-md-7">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Company: {{ product['Company'] || "None" }}</li>
          <li class="list-group-item">Port: {{ product['Port'] || "None" }}</li>
          <li class="list-group-item">Certification: {{ product['Certification'] || "None" }}</li>
          <li class="list-group-item">Color: {{ product['Color' || 'DialColor'] || "None" }}</li>
          <li class="list-group-item">Type: {{ product['Type'] || "None"}}</li>
          <li class="list-group-item">Payment Terms: {{ product['PaymentTerms'] || "None"}}</li>
          <li class="list-group-item">Style: {{ product['Style'] || "None" }}</li>
        </ul>
      </div>
      <div class="mb-3 row text-center mt-4">
        <div class="col-12">In stock: {{ product.Stock }}</div>
        <div class="col-3"><button class="btn btn-outline-danger" (click)="sub()">-</button></div>
        <div class="col-6"><input class="form-control form-control text-center" [(ngModel)]="inCart"
            (input)="checkStock()" /></div>
        <div class="col-3"><button class="btn btn-outline-success" (click)="add()">+</button></div>
        <button class="btn btn-outline-success btn-md btn-block mt-3" (click)="addToCart()">Add To Cart</button>
      </div>
    </div>
  </div>

</div>
