<app-navbar></app-navbar>


<div class="container mt-4">
  <div class="row">
    <div class="col-4">
      <img [src]="product['imgUrl']" alt="" />
      <p>{{ product["Name"] }}</p>
      <p>Price: {{ product['Price'] | currency}}</p>
      <div class="mb-3 clearfix">
        <div class=" text-center" style="float:left;">
          <button type="button" class="btn btn-outline-warning btn-md ml-3" (click)="sub()">-</button>
        </div>
        <div class="text-center" style="float:left; margin-left: 10px;"><input class="form-control text-center"
            [(ngModel)]="inCart" /></div>
        <div class="text-center" style="float:left;">
          <button type="button" class="btn btn-outline-success btn-md ml-2" (click)="add()">+</button>
        </div>

      </div> <button class="btn btn-outline-success btn-md btn-block" (click)="addToCart()">Add To Cart</button>
    </div>
    <div class="col-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Company: {{ product['Company'] || "None" }}</li>
        <li class="list-group-item">Port: {{ product['Port'] || "None" }}</li>
        <li class="list-group-item">Certification: {{ product['Certification'] || "None" }}</li>
        <li class="list-group-item">Color: {{ product['Color' || 'DialColor'] || "None" }}</li>
        <li class="list-group-item">Type: {{ product['Type'] || "None"}}</li>
        <li class="list-group-item">Payment Terms: {{ product['PaymentTerms'] || "None"}}</li>
        <li class="list-group-item">Style: {{ product['Style'] || "None" }}</li>
      </ul>
    </div>
  </div>
</div>
