/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

* {
  box-sizing: border-box !important;
}

.dottedText {
  white-space: nowrap;
  width: 26%;
  overflow: hidden;
  text-overflow: ellipsis;
}
