/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

* {
  box-sizing: border-box !important;
  font-family: 'Crimson Text', serif;

}

.dottedText {
  white-space: nowrap;
  width: 26%;
  overflow: hidden;
  text-overflow: ellipsis;
}
