<div class="container">
    <h5 class="display-4 text-center p-5">Edit Product</h5>
    <div class="row">
        <div class="col-4">
            <img [src]="product ? product['imgUrl'] : ''" alt="">
        </div>
        <div class="col-8">
            <form class="form-horizontal" [formGroup]="productForm" (submit)="editProduct()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                    <div class="col-lg">
                        <input type="text" class="form-control" id="name" placeholder="Product Name"
                            [value]="product? product['Name'] : ''" formControlName="Name" pattern="[a-zA-Z ]*" />
                        <div *ngIf="productForm.get('Name').invalid && (productForm.get('Name').dirty || productForm.get('Name').touched)"
                            class="alert alert-danger">
                            <div *ngIf="productForm.get('Name').errors.required"> * Name is required.</div>
                            <div
                                *ngIf=" productForm.get('Name').errors.minlength || productForm.get('Name').errors.maxlength">
                                *
                                Minimum length 5 &
                                Maximum length 30
                            </div>
                            <div *ngIf="productForm.get('Name').errors.pattern">* Should not any special character or
                                number
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="type">Type</label>
                    <div class="col-lg">
                        <input type="text" class="form-control" id="type" placeholder="Product Type ex: dress"
                            formControlName="Type" [value]="product ? product['Type'] : '' " />
                        <div *ngIf="productForm.get('Type').invalid && (productForm.get('Type').dirty || productForm.get('Type').touched)"
                            class="alert alert-danger">
                            <div *ngIf="productForm.get('Type').errors.required">
                                * Type is required.
                            </div>
                            <div
                                *ngIf="productForm.get('Type').errors.minlength || productForm.get('Type').errors.maxlength">
                                * Minimum length 5 & Maximum length 10
                            </div>
                            <div *ngIf="productForm.get('Type').errors.pattern">
                                * Should not contain any special character or number
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="company">Company</label>
                    <div class="col-lg">
                        <input type="text" class="form-control" id="company" placeholder="Company"
                            formControlName="Company" [value]="product ? product['Company'] : '' " />
                        <div *ngIf="productForm.get('Company').invalid && (productForm.get('Company').dirty || productForm.get('Company').touched)"
                            class="alert alert-danger">

                            <div
                                *ngIf="productForm.get('Company').errors.minlength || productForm.get('Company').errors.maxlength">
                                * Minimum length 5 & Maximum length 10
                            </div>
                            <div *ngIf="productForm.get('Company').errors.pattern">
                                * Should not contain any special character or number
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="port">Port</label>
                    <div class="col-lg">
                        <input type="text" class="form-control" id="port" placeholder="Shenzhen, China"
                            formControlName="Port" [value]="product ? product['Port'] : '' " />
                        <div *ngIf=" productForm.get('Port').invalid && (productForm.get('Port').dirty ||
                            productForm.get('Port').touched)" class="alert alert-danger">

                            <div
                                *ngIf="productForm.get('Port').errors.minlength || productForm.get('Port').errors.maxlength">
                                * Minimum length 5 & Maximum length 10
                            </div>
                            <div *ngIf="productForm.get('Port').errors.pattern">
                                * Should not contain any special character or number
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="color">Color</label>
                    <div class="col-lg">
                        <input type="text" class="form-control" id="color" placeholder="Red, Green etc"
                            formControlName="Color" [value]="product ? product['Color'] : '' ">
                        <div *ngIf=" productForm.get('Color').invalid && (productForm.get('Color').dirty ||
                    productForm.get('Color').touched)" class="alert alert-danger">

                            <div
                                *ngIf="productForm.get('Color').errors.minlength || productForm.get('Color').errors.maxlength">
                                * Minimum length 5 & Maximum length 10
                            </div>
                            <div *ngIf="productForm.get('Color').errors.pattern">
                                * Should not contain any special character or number
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="waterproof">Waterproof</label>
                    <div class="col-lg">
                        <input type="text" class="form-control" id="waterproof" placeholder="False"
                            formControlName="Waterproof" [value]="product ? product['Waterproof'] : '' ">
                        <div *ngIf=" productForm.get('Waterproof').invalid && (productForm.get('Waterproof').dirty ||
                productForm.get('Waterproof').touched)" class="alert alert-danger">

                            <div
                                *ngIf="productForm.get('Waterproof').errors.minlength || productForm.get('Waterproof').errors.maxlength">
                                * Minimum length 5 & Maximum length 10
                            </div>
                            <div *ngIf="productForm.get('Waterproof').errors.pattern">
                                * Should not contain any special character or number
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="price">Price</label>
                    <div class="col-lg">
                        <input type="text" class="form-control" id="price" placeholder="$0.00" formControlName="Price"
                            [value]="product ? product['Price'] : '' ">
                        <div *ngIf=" productForm.get('Price').invalid && (productForm.get('Price').dirty ||
            productForm.get('Price').touched)" class="alert alert-danger">
                            <div
                                *ngIf="productForm.get('Price').errors.minlength || productForm.get('Price').errors.maxlength">
                                * Minimum length 5 & Maximum length 10
                            </div>
                            <div *ngIf="productForm.get('Price').errors.pattern">
                                * Should not contain any special character or number
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="certification">Certification</label>
                    <div class="col-lg">
                        <input type="text" class="form-control" id="certification" placeholder="RoHS, CE, ISO, CCC, SGS"
                            formControlName="Certification" [value]="product ? product['Certification'] : '' ">
                        <div *ngIf=" productForm.get('Price').invalid && (productForm.get('Price').dirty ||
            productForm.get('Price').touched)" class="alert alert-danger">

                            <div
                                *ngIf="productForm.get('Price').errors.minlength || productForm.get('Price').errors.maxlength">
                                * Minimum length 5 & Maximum length 10
                            </div>
                            <div *ngIf="productForm.get('Price').errors.pattern">
                                * Should not contain any special character or number
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="style">Style</label>
                    <div class="col-lg">
                        <input type="text" class="form-control" id="style" placeholder="Modern" formControlName="Style"
                            [value]="product ? product['Style'] : '' ">
                        <div *ngIf=" productForm.get('Style').invalid && (productForm.get('Style').dirty ||
            productForm.get('Style').touched)" class="alert alert-danger">

                            <div
                                *ngIf="productForm.get('Style').errors.minlength || productForm.get('Style').errors.maxlength">
                                * Minimum length 5 & Maximum length 10
                            </div>
                            <div *ngIf="productForm.get('Style').errors.pattern">
                                * Should not contain any special character or number
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="stock">In Stock</label>
                    <div class="col-lg">
                        <input type="text" class="form-control" id="stock" placeholder="In Stock"
                            formControlName="Stock" [value]="product ? product['Stock'] : 0 " />
                        <div *ngIf="productForm.get('Stock').invalid && (productForm.get('Stock').dirty || productForm.get('Stock').touched)"
                            class="alert alert-danger">
                            <div *ngIf="productForm.get('Stock').errors.required"> * Stock is required.</div>
                            <div *ngIf="productForm.get('Stock').errors.pattern"> * Only use numbers.</div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-lg">
                        <input type="file" (change)="upload($event)" accept="image/*">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-lg">
                        <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Update
                            Product</button>
                    </div>
                </div>
            </form>

            <div class="progress" *ngIf="uploading">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="uploadPercentage"></div>
            </div>
        </div>
    </div>
